/* Nav, p, h3, #explore-searchbar #searchbar
.container-logo
#about-contact-donate 
#Menu, h4*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orbitron-font: "Orbitron", sans-serif;
  --audiowide-font: "Audiowide", sans-serif;
  --exo2-font: "Exo 2", sans-serif;
  --just-black: #000000;
  --just-white: #ffffff;
  --searchbar-color: #767b83;
  --menu-background-color: #17171b;
}

body {
  width: 100svw;
  height: 100svh;
}

header {
  color: var(--just-white);
  font-family: var(--audiowide-font);
}

h2,
h3 {
  font-weight: 100;
}

.icon {
  width: 16px;
  height: 16px;
}

.logo {
  width: 45px;
  height: 45px;
}

.navigation {
  max-width: 100svw;
  max-height: 100svh;
  max-width: 100%;
  min-width: 1440px;
  height: 57px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--just-black);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#explore-searchbar {
  display: flex;
  flex-direction: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 343px;
  height: 57px;
  max-width: 343px;
  max-height: 57px;
  font-size: 16px;
  /* border: solid red; */
}

#explore-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

#searchbar {
  display: flex;
  align-items: center;
  border: 1px solid var(--searchbar-color);
  min-width: 132px;
  max-width: 132px;
  min-height: 22px;
  max-height: 22px;
  font-family: var(--exo2-font);
  font-size: 10px;
  color: var(--searchbar-color);
}

.container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-contact-donate {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  width: 342px;
  height: 57px;
  max-width: 342px;
  max-height: 57px;
  /* border: 1px solid red; */
}

.acd-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.menu-container {
  max-width: 100svw;
  max-height: 100svh;
  max-width: 100%;
  min-width: 1440px;
  height: 85px;
  padding: 16px 502px 16px 502px;
  background-color: var(--menu-background-color);
  display: flex;
  justify-content: center;
  align-items: end;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  font-size: 14px;
}

.articles {
  /* border: solid green; */
  max-width: 100svw;
  min-width: 1440px;
  max-height: 100svh;
  min-height: 2102px;
  padding: 204px 165px 160px 165px;
  background-image: url(./images/backgrunnbilde.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.articles h3 {
  color: var(--just-white);
  font-family: var(--orbitron-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.articles p {
  color: var(--just-white);
  font-family: var(--exo2-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.article-card,
.article-card-god,
.article-card-collage {
  border-radius: 20px;
  border: 1.4px solid rgba(255, 255, 255, 0.4);
  background: rgba(128, 128, 128, 0.15);
  backdrop-filter: blur(3.5px);
}

/* Best to add a background color under the image other than resizing the images */
.intro-image,
.alien-image {
  border-radius: 20px 0 0 20px;
  background-color: rgba(128, 128, 128, 0.15);
}

.god-image,
.collage-image {
  border-radius: 0 20px 20px 0;
}

.article-card {
  max-width: 100%;
  width: 1110px;
  max-height: 100%;
  height: 334px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: 134px;
  /* border: solid yellow; */
}

.article-card-god {
  max-width: 100%;
  width: 1110px;
  max-height: 100%;
  height: 334px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 134px;
  /* border: solid yellow; */
}

.article-card-collage {
  max-width: 100%;
  width: 1110px;
  max-height: 100%;
  height: 334px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 134px;
  /* border: solid yellow; */
}

.title-paragraph {
  /* border: solid blue; */
  width: 555px;
  max-width: 100%;
  height: 334px;
  max-height: 100%;
  padding: 20px 56px 20px 56px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.margin-h3,
.margin-p {
  margin-bottom: 14px;
}

.intro-image {
  max-width: 100%;
  width: 555px;
  max-height: 100%;
  height: 334px;
  object-fit: contain;
}

.god-image {
  max-width: 100%;
  width: 555px;
  max-height: 100%;
  height: 334px;
  object-fit: cover;
}

.alien-image {
  max-width: 100%;
  width: 555px;
  max-height: 100%;
  height: 334px;
  object-fit: cover;
}

.collage-image {
  max-width: 100%;
  width: 555px;
  max-height: 100%;
  height: 334px;
  object-fit: cover;
}

footer {
  max-width: 100%;
  width: 1440;
  max-height: 100%;
  height: 243px;
  padding: 25px 0px 25px 0px;
}

.copyright {
  display: flex;
}

.footer-logo {
  max-width: 100%;
  width: 85px;
  max-height: 100%;
  height: 85px;
  margin-bottom: 10px;
}

.footer-title {
  font-family: var(--orbitron-font);
  margin-bottom: 19px;
}

.footer-title h1 {
  font-weight: 900;
}

.footer-paragraph {
  font-family: var(--exo2-font);
  font-size: 16px;
}

.footer-paragraph p {
  font-weight: 400;
}

/* --HERO--
 section, div, h1, h4, p, img, h2, aside
 classes: hero, hero_contents, hero_info, info_container,
 hero_image
 id: info_left, info_right
 */
.hero {
  max-width: 100svw;
  width: 1392px;
  max-height: 100svh;
  min-height: 1577px;
  border: solid red;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.hero_contents {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 466px;
  height: 638.667px;
}

#info_left {
  align-items: flex-end;
}
#info_right {
  align-items: flex-start;
}

.hero_image {
  width: 464px;
  height: 464px;
}
