/* Nav, p, h3, #explore-searchbar #searchbar
.container-logo
#about-contact-donate 
#Menu, h4*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orbitron-font: "Orbitron", sans-serif;
  --audiowide-font: "Audiowide", sans-serif;
  --exo2-font: "Exo 2", sans-serif;
  --just-black: #000000;
  --just-white: #ffffff;
  --searchbar-color: #767b83;
  --menu-background-color: #17171b;
}

body {
  width: 100%;
  height: 100svh;
  background-image: url(./images/background3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  background-image: url(./images/background3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  color: var(--just-white);
  font-family: var(--audiowide-font);
  position: sticky;
  top: 0;
}

.icon {
  width: 16px;
  height: 16px;
}

.logo {
  width: 48px;
  height: 48px;
}

.navigation {
  max-height: 100%;
  max-width: 100%;
  min-width: 1440px;
  height: 57px;
  padding-left: 0 20px 0 20px;
  background-color: var(--just-black);
}

.navigation h3 {
  font-weight: 100;
}

.navigation-container {
  max-width: 100%;
  min-width: 1440px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#explore-searchbar {
  display: flex;
  flex-direction: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 500px;
  height: 57px;
  max-width: 100%;
  max-height: 57px;
  font-size: 16px;
  padding-left: 20px;
  /* border: solid red; */
}

#explore-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

#searchbar {
  display: flex;
  align-items: center;
  border: 1px solid var(--searchbar-color);
  width: 300px;
  max-width: 100%;
  height: 23px;
  font-family: var(--exo2-font);
  font-size: 10px;
  color: var(--searchbar-color);
  padding: 4px 5px 6px 5px;
}

.search_p {
  color: #767b83;
  font-family: "Exo 2";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 173px;
}

#about-contact-donate {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  width: 342px;
  height: 57px;
  max-width: 342px;
  max-height: 57px;
  /* border: 1px solid red; */
}

.acd-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.menu-container {
  max-width: 100svw;
  max-height: 100svh;
  max-width: 100%;
  min-width: 1440px;
  height: 85px;
  padding: 16px 502px 16px 502px;
  background-color: var(--menu-background-color);
  display: flex;
  justify-content: center;
  align-items: end;
}

.menu-container h4 {
  font-weight: 100;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  font-size: 14px;
}

.articles {
  /* border: solid green; */
  max-width: 100svw;
  min-width: 1440px;
  max-height: 100svh;
  min-height: 2102px;
  display: flex;
  padding: 80px 0px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  align-self: stretch;
  /* background-image: url(./images/backgrunnbilde.png);
  background-repeat: no-repeat;
  background-size: cover; */
}

.title-articles {
  color: #fff;
  font-family: Orbitron;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.articles h3 {
  color: var(--just-white);
  font-family: var(--orbitron-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.articles p {
  color: var(--just-white);
  font-family: var(--exo2-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.article-card,
.article-card-god,
.article-card-collage {
  border-radius: 20px;
  border: 1.4px solid rgba(255, 255, 255, 0.4);
  background: rgba(128, 128, 128, 0.15);
  backdrop-filter: blur(3.5px);
}

.article-card {
  max-width: 100%;
  width: 1110px;
  max-height: 100%;
  height: 334px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: center;
}

.article-card-god,
.article-card-collage {
  max-width: 100%;
  width: 1110px;
  max-height: 100%;
  height: 334px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

.title-paragraph {
  width: 555px;
  max-width: 100%;
  height: 334px;
  max-height: 100%;
  padding: 24px 56px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-shrink: 0;
  gap: 16px;
}

.margin-p {
  margin-bottom: 14px;
}

/* Best to add a background color under the image */
.intro-image {
  max-width: 100%;
  width: 555px;
  max-height: 100%;
  height: 334px;
  object-fit: contain;
  border-radius: 20px 0 0 20px;
  background-color: var(--just-black);
}

.god-image,
.collage-image {
  max-width: 100%;
  width: 555px;
  max-height: 100%;
  height: 334px;
  object-fit: cover;
  border-radius: 0 20px 20px 0;
}

.alien-image {
  max-width: 100%;
  width: 555px;
  max-height: 100%;
  height: 334px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  background-color: rgba(128, 128, 128, 0.15);
}

#exploration {
  max-width: 100%;
  width: 1392px;
  height: 1319px;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

#exploration h1 {
  color: #fff;
  font-family: Orbitron;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.exploration-timeline {
  max-width: 100%;
  width: 1392px;
  height: 1059px;
  display: flex;
  overflow: visible;
}

.top-row {
  max-width: 100%;
  display: flex;
  width: 1391.954px;
  height: 633px;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}

.icon-info {
  max-width: 100%;
  width: 318px;
  height: 633px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-paragraph-icon-info {
  max-width: 100%;
  width: 270px;
  height: 376px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  border: 1.4px solid rgba(255, 255, 255, 0.4);
  background: rgba(129, 170, 205, 0.15);
  backdrop-filter: blur(20px);
}

.title-paragraph-icon-info h3 {
  color: #a9c0d9;
  font-family: Orbitron;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title-paragraph-icon-info p {
  color: #afc3db;
  font-family: "Exo 2";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.line-icon-year {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line-icon-year h3 {
  color: #fff;
  font-family: Orbitron;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.v-line {
  height: 105px;
}

.pioneer11-icon {
  max-width: 100%;
  width: 50px;
  height: 50px;
  background-color: #003180;
}

.exploration-year {
  display: flex;
  padding-top: 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer {
  max-width: 100%;
  width: 1440;
  max-height: 100%;
  height: 243px;
  padding: 25px 0px 25px 0px;
}

.copyright {
  display: flex;
}

.footer-logo {
  max-width: 100%;
  width: 85px;
  max-height: 100%;
  height: 85px;
  margin-bottom: 10px;
}

.footer-title {
  font-family: var(--orbitron-font);
  margin-bottom: 19px;
}

.footer-title h1 {
  font-weight: 900;
}

.footer-paragraph {
  font-family: var(--exo2-font);
  font-size: 16px;
}

.footer-paragraph p {
  font-weight: 400;
}

/* --HERO--
 section, div, h1, h4, p, img, h2, aside
 classes: hero, hero_contents, hero_info, info_container, containter_left, container_right
 hero_image, hero_header1
 id: info_left, info_right
 */
.hero {
  max-width: 100svw;
  width: 100%;
  max-height: 100svh;
  min-height: 1577px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  /* background-color: #17171b; */
  align-items: center;
}

.hero_contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hero_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 466px;
  height: 638.667px;
  gap: 32px;
  background-color: #17171b;
}

#info_left {
  align-items: flex-end;
  padding: 10px 46px 10px 16px;
}
#info_right {
  align-items: flex-start;
  padding: 10px 16px 10px 46px;
}

.hero_image {
  width: 464px;
  height: 464px;
}

.info_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 193px;
  padding: 8px 16px;
  gap: 2px;

  /* styling */
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.4);

  background: var(--fill, rgba(0, 255, 255, 0.15));
  backdrop-filter: blur(3.5px);
}

.container_left {
  align-items: flex-end;
}

.container_right {
  align-items: flex-start;
}

.infobox_header {
  color: #e3e3e3;

  /* h4 */
  font-family: Orbitron;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.infobox_p {
  color: #d2d2d2;

  font-family: "Exo 2";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero_header {
  display: flex;
  width: 1392px;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #f4f4f4;

  text-align: center;
  /* h1 */
  font-family: Orbitron;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero_header2 {
  color: #f4f4f4;

  text-align: center;
  /* h2 */
  font-family: Orbitron;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* TIMELINE 1
 classes: component_top, image+line, line,
  timeline1_textcontainer,
  timeline1_p, timeline1_img, timeline1_component
  image_container, timeline1, timeline1_line, component_bottom,
  t1l_bottom, t1_line*/

.timeline1 {
  width: 1392px;
  position: relative;
  height: 639px;
}

.timeline1_component {
  display: flex;
  width: 251px;
  height: 291.5px;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-shrink: 0;
}

.image_line {
  display: flex;
  height: 140.5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.t1_line {
  width: 4px;
  height: 70px;
  background: rgba(0, 255, 255, 0.4);
}

.component_image {
  display: flex;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.image_container {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}

.timeline1_img {
  display: block;
  margin-bottom: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.timeline1_textcontainer {
  display: flex;
  height: 119px;
  padding: 10px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;

  /* style */

  border-radius: 8px;
  border: 1px solid var(--stroke, rgba(255, 255, 255, 0.4));

  background: var(--fill, rgba(0, 255, 255, 0.15));
  backdrop-filter: blur(3.5px);
}

.moon_title {
  width: 179px;
  color: #ececec;

  /* h4 */
  font-family: Orbitron;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.timeline1_p {
  align-self: stretch;
  color: #d4d3d3;

  font-family: "Exo 2";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 147.709%; /* 17.725px */
  letter-spacing: -0.36px;
}

.timeline1_line {
  width: 1300px;
  height: 4px;
  background: rgba(0, 255, 255, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.component_bottom {
  display: flex;
  flex-direction: column-reverse;
}

.timeline1_top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 898px;
  margin-left: 5%;
  top: 185px;
  position: relative;
}

.timeline1_bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  justify-self: end;
  width: 898px;
  margin-right: 5%;
  position: relative;
  bottom: 125px;
}

/* SECTION 2/TIMELINE 2
Classes: timeline2_section, timeline2, t2_toprow,
 t2_component,t2c_text, t2c_line, t2c_iconbox,
  t2c_icon, t2c_year, t2_line, t2_bottomrow, t2c_reversed,
  top_year, bottom_year */

.timeline2_section {
  display: flex;
  padding: 80px 0px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  background-color: #17171b;
}

.timeline2 {
  width: 1392px;
  height: 1059px;
  position: relative;
}

.t2_component {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  width: 318px;
  height: 633px;
}

.t2c_text {
  display: flex;
  height: 376px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  border: 1.4px solid rgba(255, 255, 255, 0.4);
  background: rgba(129, 170, 205, 0.15);
  backdrop-filter: blur(20px);
}

.t2c_line {
  width: 1px;
  height: 105px;
  background: rgba(255, 255, 255, 0.4);
}

.t2c_iconbox {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #003180;
}

.t2c_icon {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}

.t2c_year {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.t2_line {
  width: 1391.954px;
  height: 4px;
  background: #003180;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.t2_toprow {
  display: flex;
  width: 1391.954px;
  height: 633px;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  position: relative;
}

.t2_bottomrow {
  display: flex;
  width: 1391.954px;
  height: 632px;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  bottom: 204px;
}

.t2c_reversed {
  display: flex;
  flex-direction: column-reverse;
}

.top_year {
  padding-top: 24px;
}

.bottom_year {
  padding-bottom: 24px;
}

.t2_h2 {
  color: #fff;

  /* h2 */
  font-family: Orbitron;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.t2_h3 {
  color: #a9c0d9;

  /* h3 */
  font-family: Orbitron;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  color: #afc3db;
  font-family: "Exo 2";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
